<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="duan.it.thanh.duanmobile">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".Music.ListMusicActivity"
            android:label="@string/title_activity_list_music"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Music.ViewMusicActivity"
            android:label="@string/title_activity_view_music"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Media.ViewMediaActivity"
            android:label="@string/title_activity_type_media"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Media.ListMediaActivity"
            android:label="@string/title_activity_list_media"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Music.MusicActivity"
            android:label="@string/title_activity_music"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Media.MediaActivity"
            android:label="@string/title_activity_media"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Music.OnlineMusicActivity"
            android:label="@string/title_activity_online_music"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Music.TypeMusicActivity"
            android:label="@string/title_activity_type_music"
            android:theme="@style/AppTheme" />
        <activity android:name=".Music.ListOnlineVActivity" />
        <activity android:name=".Music.ListOnlineAActivity" />
        <activity android:name=".Media.MediaShortActivity" />
        <activity android:name=".Media.MediaRelaxActivity" />
        <activity android:name=".Media.MediaMusicActivity"></activity>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
            <activity
                android:name="com.facebook.FacebookActivity"
                android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>